.container {
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

.TableContainer {
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.rounded {
    border-radius: 6px;
    overflow: hidden;
}

.Table {
    min-width: 1000px;
}

.THead {
    position: sticky;
    top: -1px;
    z-index: 10;
}

.THead th {
    background-color: var(--dark-color);
    color: white;
}

.Table tbody tr:hover {
    cursor: pointer;
}

.selectedRow td {
    background-color: var(--second-color);
}